:root {
  --primary-background-color: #3c9700;
  --primary-font-family: 'belgian-zoo', 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

h1 {
  margin: 0;
  color: white;
  font-family: var(--primary-font-family);
  font-size: 5rem;
}

body {
  height: 100%;
  margin: 0;
  display: flex;

  flex-direction: column;
}

header {
  text-align: center;
  background-color: #3c9700;
  padding: 32px;
}

.main.content {
  display: flex;
  padding: 24px;
  flex: 2;
}

.sidebar.content {
  flex: 1;
  border-right: 1px solid rgb(49, 47, 47);
  padding: 24px;
}

.content {
  min-height: 100%;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

nav {
  border-bottom: 1px solid grey;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  font-size: 1.3rem;
  padding: 0 24px;
}

nav ul.submenu {
  display: none;
  padding: var(--spacing-small);
}

footer {
  background-color: #3c9700;
  text-decoration: none;
  border-top: 1px solid #dee2e6;
  color: #010101;
  text-align: center;
  padding: 24px;
}

footer a {
  text-decoration: none;
}
